@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'Kanit', sans-serif !important;
 }
body{
  background: #222;
}
/* İSİM BÖLÜMÜ */
.nametainer{
  display: flex;
  justify-content: center;
}
div.nametainer > div > h3{
  background-color: rgb(2, 221, 255);
  font-size: 20px;
  font-weight: bold;
  padding: 5px 50px;
  color: #000;
  text-align: center;
  border-radius: 8px;
  width: 100%;
}

.grfname{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  text-align: center;
  top: 100px;
  position: absolute;
  background: rgb(34, 34, 34);
  border: 2px solid #fff;
  padding: 10px;
  border-radius: 18px;
    
}
div.nametainer > div > input[type="text"]{
  font-size: 25px;
  text-align: center;
  margin: 0;
}
div.nametainer > div > button{
  /* width: 150px; */
  text-align: center;
  margin: 0px 69px;
}

#grfkname{
  color: #fff;
  font-size: 20px;
  margin: 5px
}




#mag3fiyhes1{
  color: #fff;
  text-align: center;
  margin: 10px 0;
  letter-spacing: 2px;
}
.button{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#anadivtainer{
  display:flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  flex-direction: column;
}
#anadiv{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

}

#kdv{
  text-align: center;
  font-size: 16px
}

.magneth3{
  text-align: center;
  color: #f9bd19;
  font-weight: normal;
  font-size: 30px;
  margin-bottom: 10px;
}

.btn{
    border-color: red;
    width: 87px;
    height: 53px;
    justify-content: center;
    display: flex;
    align-items: center;
}
input[name="btndeg"] {
  display: none;
}
.btn{
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}
.labelyellow{
  background: #434242;
  color: #fff;
  padding: 30px 60px;
  margin: 5px;
  border-radius: 10px;
  font-size: 30px;
}
.inputyellow:checked + .labelyellow{
  background: #ffbb00;
  color: #000;
  
}


.mag3container{
    display: flex;
    justify-content: center;
}

#mag3tainer{
    grid-area: 2 / 2 / 6 / 6;
    background: #f9bd19;
    width: 250px;
    border-radius: 15px;
    margin-bottom: 20px;
    padding-bottom: 10px;
/* visibility: hidden;
opacity: 0; */
  /* transition: all 0.3s ease; */
}

#metinkutu {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Firma, #Isi{
  margin: 10px;
  width: 300px;
  height: 30px;
  font-size: 20px;
}




.silmek{
  visibility: visible !important;
  opacity: 1 !important;
  transition: all 0.3s ease;
}
#toplamfiyat{
  text-align: center;
  background-color: #434242;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 8px;
}

#kacadet2{
  text-align: center;
  background-color: #434242;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
}

.ekstra{
  text-align: center;
  background-color: #434242;
  color: #fff;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  font-size: 17px;
  font-weight: bold;
  width: 120px;
  height: 60px;
}
#ektrabic{
  width: 70px;
  height: 60px;
  margin: 5px;
  text-align: center;
}
.yellow{
  background-color: #f9bd19;
  color: #000;
}

#kacadet, #kacadet2{
  width: 120px;
  height: 60px;
  line-height: 50px;
}
#mag3bas2{
    color: #000;
    background-color: #02dcff;
    text-align: center;
    font-size: 25px;
    padding: 10px 250px;
    line-height: 30px;
    /* margin-top: 20px; */
    border-radius: 15px;
}

#mag3bas3{
  background-color: #434242;
  font-size: 20px;
  padding: 5px;
  color: #fff;
  font-weight: normal;
  text-align: center;
  border-radius: 8px 8px 0px 0px;
}
#enboytainer, #enboytainer1, #enboytainer2{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
#enboytainer2{
  margin: 10px;
}

#enboytainer1{
  margin: 10 0px;
  background: #434242;
  flex-direction: column;
}

#Eni, #Boyu{
  margin: 10px;
  width: 150px;
  height: 40px;
}

#metinkutu {
  margin-top: 10px;
  background: #434242;
  flex-direction: column;
}

.metinh3 {
  text-align: center;
  color: #f9bd19;
  font-weight: normal;
  font-size: 30px;
  margin-bottom: 10px;
}


input{
  width: 190px;
  height: 40px;
  padding: 5px;
  border-radius: 10px;
  border: none;
  font-size: 25px;

}
input:focus-visible {
  border: none;
  outline: 2px solid #02dcff;
}


/* .btn{
  display: none;
} */

#m2fiyati{
  width: 120px;
  height: 60px;
  margin: 5px;
  font-size: 30px;
  text-align: center;
  /* display: none; */
}

#copytainer{
  display:flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  flex-direction: column;
}
button{
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  border: none;
  background-color: #434242;
  color: #fff;
}
button:hover{
  background-color: #f9bd19;
  color: #000;
  font-weight: bold;
}

#ackapa2:focus-visible{
  outline: 2px solid #02dcff;
}


button:active{
  transform: translate(0, 5px);
}

#heading{
    color: #000;
    background-color: #f9bd19;
    text-align: center;
    font-size: 25px;
    /* margin-top: 30px; */
    padding: 20px;
    line-height: 20px;
    margin: 20px;
    border-radius: 15px;
    text-transform: uppercase;
  }
  #ytlink{
    color: #fff;
    text-decoration: none;
    transition: transform 240ms linear;
  }
  #ytlink:hover{
    color: #f9bd19;
    transform: scale(1.2);
    
  }


  #ytlink2{
    color: #fff;
    text-decoration: none;
    transition: transform 240ms linear;
  }
  #ytlink2:hover{
    color: #f9bd19;
    transform: scale(1.2);
    
  }


  /* HAMBURGER MENÜ */

  #solgraypanel {
    background: #111;
    position: fixed;
    top: 0px;
    height: 100vh;
    width: 350px;
    z-index: 10;
    transition: left 0.3s ease-in-out;
    left: -350px;
    box-shadow: 6px 1px 18px 12px #000;
}

.burgergps {
    height: 60px;
    background: #000000;
    width: 60px;
    border-radius: 18px;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 99;
    cursor: pointer;
    user-select: none;
}

.burgergps:hover{
  background: #f9bd19;
  color: #146d79;
}

.burgergps:hover .navTrigger i{
  background: #000;
  color: #000;
}


.changepanel{
  display: flex;
  top: 300px;
  position: relative;
  margin: 0 50px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.sol4{
  text-align: center;
  border-radius: 10px;
  margin: 5px;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
}

.guncelle{
  width: 87px;
  height: 53px;
  margin: 5px;
}

.solbtn{
  padding: 20px;
}


.onaybutton{
  display: flex;
  bottom: 50px;
  position: absolute;
  width: 100%;
  justify-content: center;
}

  /* HAMBURGER MENÜ */
